extends layout

block head
  script(type='text/javascript' src='/javascripts/controllers/WatchesController.js')

block content
  div.row
    div.col-md-3
      a(href="/")
        button.btn.btn-success &laquo Home
  div.container(ng-controller="WatchesController" ng-init="getWatches()")
    h1 Directory of Eleven James Watches
      hr
      div.row(ng-repeat="watch in watches | orderBy:'brand'")
        div.col-md-7
          a.lead(ng-href='/watches/review/{{watch._id}}.json') {{watch.brand + ' ' + watch.family + ' ' + watch.model}}
        div.col-md-2
          button.btn.btn-danger(type='button' ng-click='removeWatch(watch)') Remove
        div.col-md-3
          input(type="checkbox" ng-model="watch.lookbook" ng-change="updateLookbook(watch)")
        br
        hr

      div.row
        div.col-md-4
          a(href="/watch-info.json")
            button.btn.btn-success(type='button' ng-click='exportWatches()') Export Watches
