extends layout

block content
  div.container
    h1 Welcome to Eleven James
    div
      p What would you like to do?

      a(href='/watches') View watch image directory
      br
      br

      a(href='/mailchimp') View daily mailchimp imports
      br
      br

      a(href='/add_watch') Add a watch to the inventory list
      br
      br
