extends layout

block content
  div.container
    h1 Welcome to Eleven James
    div
      p What would you like to do?

      a(href='/watches') View watch image directory
      br
      br

      a(href='/watches/new') Add a watch to the inventory list
      br
      br

      form(action="/images/resize" method="post")
        button.btn.btn-warning(action="submit") Batch resize all current watch images (WARNING CANNOT BE UNDONE)
      br
      br

      a(href='/logout')
        button.btn.btn-default.btn-large(type='button')
          span.glyphicon.glyphicon-log-out Logout
