extends layout

block content
  div.container
    h1 Welcome to Eleven James
    div
      p What would you like to do?
      a(href='/watches') View watch image directory
      br
      a(href='/mailchimp') View daily mailchimp imports
      br
      br
      a(href='/exports/lists.json') Test Mailchimp Lists Importer (console)
