extends layout

block head
  script(type='text/javascript' src='/javascripts/controllers/MailchimpExportAPIController.js')

block content
  div.container
    h1 Welcome to Eleven James
    div(ng-controller="MailchimpExportAPIController")
      p What would you like to do?

      a(href='/watches') View watch image directory
      br
      br

      a(href='/mailchimp') View daily mailchimp imports
      br
      br
