extends layout

block content
	div.container
		h1 Welcome to Eleven James
		div
			p What would you like to do?
			a(href='/watches') View watch image directory
			br
			a(href='#') View daily mailchimp imports
