extends layout

block head
  script(type='text/javascript' src='/javascripts/controllers/WatchController.js')

block content
  div.container(ng-controller="WatchController" ng-init="setWatches( #{JSON.stringify(watches)})")
    h1 Directory of Eleven James Watches
      div.row(ng-repeat="watch in watches | orderBy:'brand'")
        div.col-md-8
          a.lead(ng-href='/watches/{{watch._id}}.json') {{watch.brand + ' ' + watch.family + ' ' + watch.model}}
        div.col-md-4
          button.btn.btn-danger(type='button' ng-click='removeWatch(watch)') Remove
        br
        hr







    //br
    //p
      a(href='/logout')
        button.btn.btn-default.btn-large(type='button')
          span.glyphicon.glyphicon-log-out Logout
