extends layout

block content
  div.container
    h1 Welcome to Eleven James
    each watch in watches
      a(href='/images/' + watch.name + '.png') #{watch.name}
      br
    br
    p
      a(href='/logout')
        button.btn.btn-default.btn-large(type='button')
          span.glyphicon.glyphicon-log-out Logout
