extends layout

block content
  div.container
    h1 Welcome to Eleven James
    each watch in watches
      a(href='/watches/' + watch._id) #{watch.brand + ' ' + watch.family + ' ' + watch.model}
      br
    //br
    //p
      a(href='/logout')
        button.btn.btn-default.btn-large(type='button')
          span.glyphicon.glyphicon-log-out Logout
