doctype html
html(ng-app='app')
  head
    title #{title}
    link(rel='stylesheet' href='/javascripts/vendor/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet' href='/stylesheets/style.css')
    script(type='text/javascript' src='/javascripts/angular.min.js')
    script(type='text/javascript' src='/javascripts/angular-resource.min.js')
    body
      img.small-image(src='http://elevenjames.com/img/ej-logo.png')
      block content
