doctype html
html(ng-app='app')
  head
    title #{title}

    link(rel='stylesheet' href='/vendor/bootstrap-3.1.1/dist/css/bootstrap.min.css')
    //link(rel='stylesheet' href='/stylesheets/style.css')

    script(type='text/javascript' src='/vendor/angular/angular.min.js')
    //script(type='text/javascript' src='/javascripts/angular-resource.min.js')
    script(type='text/javascript' src='/javascripts/app.js')

    block head

  block content
