doctype html
html
  head
    title #{title}

    script(type='text/javascript' src='/vendor/angular/angular.min.js')
    script(type='text/javascript' src='/javascripts/app.js')

    block head

  block body
