extends layout

block content
  div.container
    div.hero-unit
      form(action='/login' method='post')
        h1 Please Login to Continue
        p
          input(type='text' name='email' placeholder='Email Address')
        p
          input(type='password' name='password' placeholder='Password')
        button.btn.btn-success.btn-large(type='submit') Login &raquo;
      hr
