<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>VV-11J-KW-VDay14Promo</title>
</head>

<body style="margin:0; padding:0;">
<!-- SET: MAIN TABLE -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
	<td valign="top">
    	<!-- SET: CONTAINER TABLE -->
            <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
            	<tr>
                	<td valign="top" align="left">
                    	<table width="560" border="0" cellspacing="0" cellpadding="0" align="center">
                            <tr>
                                <td valign="top" align="left" style="border-top:5px solid #c42026; background:#000000; padding:10px 0 11px;">
                                	<table width="538" border="0" cellspacing="0" cellpadding="0" align="center">
                                        <tr>
                                            <td valign="top" align="left" style="font-size:1px; line-height:1px; text-align:left;"><a href="http://www.elevenjames.com" target="_blank"><img mc:edit="logo" src="http://clientss.xhtmlchop.com/47433/hau47nhyeo47433/images/logo.jpg" width="200" height="54" alt="" border="0"></a></td>
                                            <td valign="middle" align="left" style="font-size:1px; line-height:1px; text-align:right;"><a href="http://www.elevenjames.com" target="_blank"><img mc:edit="855eleven" src="http://clientss.xhtmlchop.com/47433/hau47nhyeo47433/images/logo-rt.jpg" width="86" height="9" alt="" border="0"></a></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="left" style="padding:20px 0 17px;">
                                	<table width="414" border="0" cellspacing="0" cellpadding="0" align="center">
                                        <tr>
                                            <td valign="top" align="left" width="2" style="font-size:1px; line-height:1px;">&nbsp;</td>
                                            <td valign="top" align="left" width="412">
                                            	<table width="412" border="0" cellspacing="0" cellpadding="0" align="center">
                                                <tr>
                                                  <h1 mc:edit="title" style="font-family:Georgia, serif; font-size:26px; color:#000000; text-align:center; padding-bottom:4px;">{{NAME}}, your {{WATCH}} has arrived!</h1>
                                                  </tr>
                                                  <tr>
                                                    <h2 mc:edit="body" style="font-family:Georgia, serif; font-size:18px; color:#000000; text-align:center; padding-bottom:4px;">Click <a href="{{LINK}}">here</a> to view details and instructions for your new watch</h2>
                                                    </tr>
                                                    <tr>
                                                  <td valign="top" align="left" style="font-family:Georgia, serif; font-size:12px; font-style:italic; color:#6d6d6d; text-align:center; padding-bottom:4px;">If you have any questions please contact concierge@elevenjames.com or call 855-ELEVEN-J (855-353-8365)</td>
                                                </tr>
                                                    <tr>
                                                        <td valign="top" align="left" style="font-size:1px; line-height:1px; padding-bottom:29px; text-align:center;">
                                                        	<table border="0" cellspacing="0" cellpadding="0" align="center">
                                                                <tr>
                                                                    <td valign="top" mc:edit="clientlogo1" align="left" style="font-size:1px; line-height:1px; padding-right:49px;"><a href="http://www.elevenjames.com" target="_blank"><img src="http://clientss.xhtmlchop.com/47433/hau47nhyeo47433/images/client-logo-1.jpg" width="188" height="57" alt="" border="0"></a></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top" align="left">
                                                        	<table border="0" cellspacing="0" cellpadding="0" align="center">
                                                                <tr>
                                                                    <td valign="top" align="left" style="font-size:1px; line-height:1px;"><img mc:edit="forme" src="http://clientss.xhtmlchop.com/47433/hau47nhyeo47433/images/for-more.jpg" width="169" height="16" alt="" border="0"></td>
                                                                    <td valign="top" align="left" mc:edit="elevenlogo"><a href="http://www.elevenjames.com" target="_blank"><img src="http://clientss.xhtmlchop.com/47433/hau47nhyeo47433/images/elecenjames.com.jpg" width="117" height="16" alt="" border="0"></a></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="left" style="border-bottom:1px solid #000000; border-top:1px solid #000000; padding:15px 0 16px;">
                                	<table border="0" cellspacing="0" cellpadding="0" align="center">
                                        <tr>
                                            <td valign="middle" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#080808; text-transform:uppercase;" mc:edit="connecttext"><img src="http://clientss.xhtmlchop.com/47433/hau47nhyeo47433/images/connect-text.jpg" width="194" height="11" alt="Connect with eleven james" border="0"></td>
                                            <td valign="top" align="left">
                                            	<table border="0" cellspacing="0" cellpadding="0" align="center">
                                                    <tr>
                                                        <td valign="top" mc:edit="sociallogo1" align="left" style="font-size:1px; line-height:1px; padding-left:23px;"><a href="http://www.facebook.com/elevenjames" target="_blank"><img src="http://clientss.xhtmlchop.com/47433/hau47nhyeo47433/images/ico-fb.jpg" width="20" height="20" alt="" border="0"></a></td>
                                                        <td valign="top" mc:edit="sociallogo2" align="left" style="font-size:1px; line-height:1px; padding-left:22px;"><a href="http://www.twitter.com/elevenjames" target="_blank"><img src="http://clientss.xhtmlchop.com/47433/hau47nhyeo47433/images/ico-twitter.jpg" width="24" height="20" alt="" border="0"></a></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        <!-- END: CONTAINER TABLE -->    
    </td>
</tr>
</table>
<!-- END MAIN TABLE -->                
</body>
</html>
