<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<script type='text/javascript' src='/vendor/angular/angular.min.js'></script>

<script type="text/javascript" src="/javascripts/app.js"></script>

<script type="text/javascript" src="/javascripts/controllers/WatchUpdateController.js"></script>

<title>VV-11J-EmailTemplate</title>
<style type="text/css">
</style></head>

<body style="margin:0; padding:0; background:#fff;" ng-controller="WatchUpdateController" ng-init="setWatch(#{JSON.stringify(watch)})">
<!-- SET: MAIN TABLE -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top" style="background:#fff; padding-bottom:38px;">
<!-- SET: CONTAINER TABLE -->
<table width="609" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
<td valign="top" align="left" width="63" style="font-size:1px; line-height:1px; background:#000;"><img src="http://clientss.xhtmlchop.com/43285/mhd40dvs543285/images/lt-sect.jpg" width="63" height="689" alt=""></td>
<td valign="top" align="left" width="478" style="background:#fff;">
<table width="478" border="0" cellspacing="0" cellpadding="0">

<tr>
<td valign="top" align="left" style="font-size:1px; line-height:1px;"><img src="http://clientss.xhtmlchop.com/43285/mhd40dvs543285/images/top-sect.jpg" width="480" height="62" alt=""></td>
</tr>

<tr>
<td valign="top" align="left" style="background:#000000;">
<table width="478" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top" align="left" width="147" style="font-size:1px; line-height:1px; text-align:left;"><img src="http://clientss.xhtmlchop.com/43285/mhd40dvs543285/images/top-banner-lt.jpg" width="147" height="153" alt=""></td>
<td valign="top" align="left">
<table border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top" align="left" style="font-size:1px; line-height:1px;"><img src="http://clientss.xhtmlchop.com/43285/mhd40dvs543285/images/top-banner-top.jpg" width="185" height="29" alt=""></td>
</tr>
<tr>
<td valign="top" align="left" style="font-size:1px; line-height:1px;"><a href="#"><img src="http://i.imgur.com/BNbbzTs.jpg" alt="" border="0" style="margin: 0; padding: 0;"></a></td>
</tr>
<tr>
<td valign="top" align="left" style="font-size:1px; line-height:1px;"><img src="http://clientss.xhtmlchop.com/43285/mhd40dvs543285/images/top-banner-bot.jpg" width="185" height="20" alt=""></td>
</tr>
</table>
</td>
<td valign="top" align="left" width="146" style="font-size:1px; line-height:1px; text-align:right;"><img src="http://clientss.xhtmlchop.com/43285/mhd40dvs543285/images/top-banner-rt.jpg" width="146" height="153" alt=""></td>
</tr>
</table>
</td>
</tr>
<tr>
<td valign="top" align="left" style="font-size:1px; line-height:1px;"><img src="http://clientss.xhtmlchop.com/43285/mhd40dvs543285/images/top-sect-shadow.jpg" width="478" height="6" alt=""></td>
</tr>
<tr>
<td valign="top" align="left">
<table width="400"border="0" cellspacing="0" cellpadding="10" align="center">

<tr>
<td valign="top" align="left" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color:#000; padding-bottom:10px"><p><em>This is a courtesy message for you about the watch you'll be enjoying until April 28. </em><em>If you have not received your watch by March 7, please contact us at 855-ELEVEN-J or reply to this message.</em></p></td>
</tr>

<tr style="color:#00000;">
<td align="center" valign="top" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000; padding-bottom:10px"><b>{{watch.brand}}</b><br />{{watch.family + ' ' + watch.model}}<br /></td>
</tr>
<tr style="color:#00000;">
<td align="center" valign="top" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000; padding-bottom:10px; background:#000000"><p><img src="../../images/{{watch.img}}" width="150" height="225" alt=""></p>
</tr>
<tr>
<td valign="top" align="left" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color:#000000;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000; padding-bottom:10px"><font style="font-family: Arial, Helvetica, sans-serif; font-size:12px; color:#000;" align="left">{{watch.description_long}}</font> <br>
</span></td>
</tr>
<tr>
<td valign="top" align="left" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color:#000;">
<div ng-repeat="instruction in watch.instructions">
<p ng-show="instruction.name">
<em><strong>{{instruction.name}}</strong></em>
<br>
</p>
<p ng-show="instruction.description">
{{instruction.description}}
<br>
</p>
<p ng-show="instruction.special">
<i>
{{instruction.special}}
</i>
<br>
</p>
</div>
</tr>
</table>
</td>
</tr>
</table>
</td>
<td valign="top" align="left" width="68" style="font-size:1px; line-height:1px; background:#000;"><img src="http://clientss.xhtmlchop.com/43285/mhd40dvs543285/images/rt-sect.jpg" width="68" height="689" alt=""></td>
</tr>
<tr>
<td valign="top" align="left" width="63" style="font-size:1px; line-height:1px; background:#000;">&nbsp;</td>
<td valign="top" align="left" width="478" style="background:#000;">
<table width="478" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top" align="left" style="font-size:1px; line-height:1px;"><img src="http://clientss.xhtmlchop.com/43285/mhd40dvs543285/images/bot-sect.jpg" width="478" height="8" alt=""></td>
</tr>
<tr>
<td valign="top" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; text-align:center; padding:10px 0; color:#fff;"><a href="#" style="color:#fff; text-decoration:none;">(C) 2014 ELEVEN JAMES</a></td>
</tr>
</table>
</td>
<td valign="top" align="left" width="68" style="font-size:1px; line-height:1px; background:#000;">&nbsp;</td>
</tr>
</table>
<!-- END: CONTAINER TABLE -->    
</td>
</tr>
</table>
<!-- END MAIN TABLE -->                
</body>
</html>
