extends layout

block head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  link(rel="stylesheet" type="text/css" href="/fonts/MyFontsWebFontsKit.css")
  script(type='text/javascript' src='/javascripts/controllers/WatchUpdateController.js')
  title Watch Detail

block content
  body(ng-controller="WatchUpdateController" ng-init="getWatch(#{JSON.stringify(id)})")
    div(style="border-top:5px solid #c42026; border-bottom: 1px dotted #b7c4cc; background:#000000; padding:10px 0 11px;")
      div.row
        div.col-md-6
          a(href="http://www.elevenjames.com" target="_blank")
            img(src="http://www.elevenjames.com/img/ej-logo.png" height="100" alt border="0")
    div(style="background:#000000")
      div.row
        div.col-md-4
          img(src="{{'/images/' + watch.img}}" width="100%")
        div.col-md-4(style="padding-top:50px; color:white;")
          h2(ng-show="watch.ej_collection" style="color:#b7c4cc; font-size:1.25em; text-transform:uppercase; font-family: 'TwCenMTStd-Bold'; font-weight:normal; font-style:normal") AFICIONADO
          h2(ng-hide="watch.ej_collection" style="color:#b7c4cc; font-size:1.25em; text-transform:uppercase; font-family: 'TwCenMTStd-Bold';") OUR COLLECTION
          h1(style="font-family:TwCenMTStd-Light; font-size:3em; margin-top:.75em") {{watch.brand + ' ' + watch.family + ' ' + watch.model}}
          hr
          p(style="font-family:TwCenMTStd-Light") {{watch.description_long}}
          div(ng-repeat="instruction in watch.instructions" style="font-family:TwCenMTStd-Light")
            br
            p(ng-show="instruction.name")
              b
                | {{instruction.name}}
            p(ng-show="instruction.description")
                | {{instruction.description}} 
            p(ng-show="instruction.special")
              i
                | {{instruction.special}}
          div(ng-show="watch.trivia")
            h2(style="font-family:'TwCenMTStd-Light';") Did you know?
            p(style="font-family:'TwCenMTStd';")
              i
                | {{watch.trivia}}
