extends layout

block head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")

  link(rel="stylesheet" type="text/css" href="/fonts/MyFontsWebFontsKit.css")
  link(rel="stylesheet" type="text/css" href="/stylesheets/watch-detail.css")

  script(type='text/javascript' src='/javascripts/controllers/WatchUpdateController.js')

  title Watch Detail

block content
  body.default(ng-controller="WatchUpdateController" ng-init="getWatch(#{JSON.stringify(id)})")
    div.header
      div.row
    div.default
      div.row
        div.col-md-3
          a(href="http://www.elevenjames.com" target="_blank")
            img(src="http://www.elevenjames.com/img/ej-logo.png" width="400px" style="margin-top:25px; margin-left: auto; margin-right: auto; display: block;")
        div.col-md-4
          img(ng-src="{{'/images/' + watch.img}}" width="100%")
        div.col-md-4(style="padding-top:25px;")
          h3(ng-show="watch.ej_collection") {{watch.ej_collection}} Collection
          h3(ng-hide="watch.ej_collection") OUR COLLECTION
          h1 {{watch.brand + ' ' + watch.family + ' ' + watch.model}}
          hr
          p {{watch.description_long}}
          div(ng-repeat="instruction in watch.instructions")
            p(ng-show="instruction.name")
              b
                | {{instruction.name}}
              |   {{instruction.description}}
            p.special
              | {{instruction.special}}
          div(ng-show="watch.trivia")
            h2 Did you know?
            p.trivia
              i
                | {{watch.trivia}}
