button,
input,
select,
textarea {
  color: #222;
}

html, body {
  background: black;
  color: white;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-size: 1em;
  line-height: 1.4;
  margin-left: 1em;
}

a {
  color: #00B7FF;
}

input {
  border-radius: 5px;
  text-indent: 10px;
  display: block;
}

.small-image {
  margin: 1em 0 0 0;
  height: 50px;
}

