doctype html
html
  head
    title #{title}
  body(style="margin: 0; padding: 0;")
    include header
    div.page(style="background: black; height: 100%; width: 100%; position: absolute; top: 0; left: 0; right: 0; margin: 100px auto 0;")
      div.third(style="background: white; height: 100%; width: 33.3333%; position: relative; float: left;")
      div.third(style="background: brown; height: 100%; width: 33.3333%; position: relative; float: left;")
      div.third(style="background: yellow; height: 100%; width: 33.3333%; position: relative; float: left;")
