doctype html
html
  head
    title #{title}
  body#ng-app(style="margin: 0; padding: 0; background: black; color: white;" ng-app="lookbook" ng-controller="LookbookController")
    include header
    //div.page(style="background: black; height: 80%; min-height: 600px; width: 100%; position: absolute; top: 0; left: 0; right: 0; margin: 125px auto 0;")
      div.nav#left(style="background: black; height: 100%; width: 5%; float: left; clear: left;")
      div.half(style="background: white; height: 100%; width: 45%; position: relative; float: left;")
      div.half(style="background: brown; height: 100%; width: 45%; position: relative; float: left;")
      div.nav#right(style="background: yellow; height: 100%; width: 5%; float: right; clear: right;")
    script(src="/vendor/angular/angular.js")
    script(src="/angular/app.js")
    script(src="/angular/controllers.js")
