include header
div.body-container
  div.nav#left
    div.left-nav
  div.inner
    div.watch
  div.nav#right
    div.right-nav
  div.copy-block(ng-click="test()")
    h1 Name of Watch Here
    h2 Description of the watch goes in this space which should take up a few lines of copy at the very minimum
    h3 {{watches[0].brand}}
