include header
div.body-container
  div.nav#left
    div.left-nav
  div.inner
    img.watch(ng-src="/images/{{watches[index].img}}")
  div.nav#right
    div.right-nav
  div.copy-block(ng-click="test()")
    h1 {{watches[index].brand + ' ' + watches[index].family + ' ' + watches[index].model}}
    h2 {{watches[index].description_short}}
